/* Styles pour la navbar */
.navbar {
    transition: background-color 0.3s, backdrop-filter 0.3s;
  }
  
  /* La navbar reste fixe en haut */
  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
  }
  
  /* Arrière-plan flou et transparent */
  .blur-background {
    background-color: rgba(255, 255, 255, 0.1); /* Couleur de fond très transparente */
    backdrop-filter: blur(10px); /* Flou de l'arrière-plan */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre */
  }
  
  /* Couleur de texte et autres effets selon le thème clair ou sombre */
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8);
  }
  
  /* Changement de la couleur des liens lorsqu'ils sont survolés */
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  /* Pour éviter que le contenu de la page soit caché par la navbar */
  body {
    padding-top: 70px; /* Ajustez selon la hauteur de votre navbar */
  }
  
  
  /* Couleur de fond dynamique selon le thème */
  .navbar-dark {
    background-color: #343a40; /* Fond sombre */
  }
  
  .navbar-light {
    background-color: #f8f9fa; /* Fond clair */
  }
  
  /* Logo de la navbar */
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #094d96;
    transition: color 0.3s ease;
  }
  
  .navbar-brand:hover {
    color: #1b72cf;
  }
  
  /* Effet sur les liens */
  .navbar-nav .nav-link {
    color: #555;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 8px 15px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 5px;
  }
  
  .navbar-nav .nav-item .active {
    color: #fff;
    background-color: #094d96;
    border-radius: 5px;
  }
  
  /* Style du bouton toggle */
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-color: #555;
    border-radius: 50%;
    padding: 5px;
  }
  
  /* Responsive */
  @media (max-width: 991px) {
    .navbar {
      padding: 10px;
    }
  
    .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-nav .nav-link {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  