<div class="container">
    <div class="row">
      <form [formGroup]="product">
        <!-- Name -->
        <div class="mb-3">
          <label>Name:</label>
          <input class="form-control" formControlName="name" />
          <app-validation-msg
            [control]="name"
            [customMessages]="{ required: 'Name is required' }"
          ></app-validation-msg>
        </div>
  
        <!-- Image -->
        <div class="mb-3">
          <label>Image:</label>
          <input class="form-control" formControlName="image" />
        </div>
  
        <!-- Description -->
        <div class="mb-3">
          <label>Description:</label>
          <input class="form-control" formControlName="description" />
        </div>
  
        <!-- Price -->
        <div class="mb-3">
          <label>Price:</label>
          <input class="form-control" formControlName="price" />
        </div>
  
        <!-- Brand -->
        <div class="mb-3" formGroupName="brand">
          <label>Brand Name:</label>
          <input class="form-control" formControlName="name" />
          <app-validation-msg
            [control]="brandName"
            [customMessages]="{
              required: 'Brand Name is required',
              minlength: 'Brand Name must have at least 3 characters'
            }"
          ></app-validation-msg>
  
          <label>Brand Logo:</label>
          <input class="form-control" formControlName="logo" />
        </div>
  
        <!-- Promotion -->
        <div class="mb-3">
          <label>Promotion:</label>
          <input class="form-control" formControlName="promotion" />
        </div>
  
        <!-- Quantity -->
        <div class="mb-3">
          <label>Quantity:</label>
          <input class="form-control" formControlName="quantity" />
        </div>
  
        <!-- Tags -->
        <div class="mb-3" formArrayName="tags">
          <label>Tags:</label>
          <div *ngFor="let t of tags; let i = index">
            <input class="form-control" [formControlName]="i" />
          </div>
          <button type="button" class="btn btn-secondary mt-2" (click)="addTags()">+</button>
        </div>
  
        <!-- Submit -->
        <div class="mb-3">
          <input type="submit" class="btn btn-primary" value="Add Product" (click)="submit()" />
        </div>
      </form>
    </div>
  </div>
  